.box{
    position: absolute;
    margin-left: -8px;
    margin-top:-9px;
    width: 1920px;
    height: 40px;
    background-color: rgb(29, 29, 66);
}

.texto{
    color: white;
    font-size: 15px;
    margin-left: 850px;
    margin-top: 12px;
}
.logo{
    margin-top: -20px;
    margin-left: 765px;
    width: 400px;
    height: 250px;
    position: absolute;
}

